html, body {
	margin: 0;
	padding: 0;
 }

body {
	background-color: #ffe5cc;
}

.header,
.about,
.developer_projects,
.graphic_projects,
.painting,
.contact {
	margin: 0;
	padding: 1px;
}

.container {
	position: relative;
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

.clearfix::after {
		content: "";
		clear: both;
		display: block;
}

/*text styles*/
h3 {
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-size: large;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	/*color: #cc6300;*/
	color: #009999;
}
/*end of text styles*/

/*main structure styles*/
/*end of main structure styes*/

/*Head Section Styles*/

.header {
	background-color: #ffd7b3;
	width: 100%;
	height: 100%;
}

.header h1 {
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #00cccc;
	text-transform: none;
	text-align: center;
	padding-bottom: 20px;
	color: #009999
	}

.header img {
	display: block;
	border: solid 8px #cc6300;
	margin: 0 auto;
	border-radius: 50%;
	margin-top: 30px;
	margin-bottom: 20px;
}

/*About Section Styles*/

.about {
 width: 100%;
 height: 100%;
 background-color: #ffca99;
}

.about_me {
	width: 70%;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
}

.about p {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  color: #cc6300;
}

/*developer projects section styles*/

.developer_projects {
	background-color: #ffd7b3;
  width: 100%;
	height: 100%;
}

.developer_projects2 {
	/*background-color: yellow;*/
	width: 80%;
	margin: 0 auto;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  color: #b35600;
}

.project1, .project2, .project3 {
  float: right;
	padding: 10px;
	width: 235px;
}

.developer_projects img {
    border: 4px solid #cc6300;
    border-radius: 4px;
    padding: 5px;
}

.developer_projects img:hover {
    box-shadow: 5px 5px 10px rgba(102, 49, 0, 0.4);
}

/*graphic projects section styles*/

.graphic_projects {
	background-color: #ffca99;
  width: 100%;
	height: 100%;
}

.design_projects {
	/*background-color: yellow;*/
	width: 80%;
	margin: 0 auto;
}

.design_projects img {
    border: 4px solid #cc6300;
    border-radius: 4px;
    padding: 5px;
}

.design_projects img:hover {
    box-shadow: 5px 5px 15px rgba(102, 49, 0, 0.5);
}

.exhibition_display, .poster, .branding {
	float: left;
	width: 200px;
	padding: 20px 40px 10px 0px;
}

.brochure, .medallions {
	float: left;
	padding: 20px 55px 10px 0px;
	width: 320px;
}

.design_projects p {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
	color: #b35600;
}

/*recent paintings section*/

.painting {
	background-color: #ffd7b3;
	width: 100%;
	height: 100%;
}

.untitled {
	/*background-color: yellow;*/
	width: 80%;
	margin: 0 auto;
}

.untitled5, .untitled6, .untitled7, .untitled8, .untitled9 {
	float: left;
	width: 220px;
	margin: 10px 10px 10px 0;
}

.untitled p {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
	color: #b35600;
}

.untitled img:hover {
	box-shadow: 5px 5px 15px rgba(102, 49, 0, 0.5)
}

.contact {
	background-color: #ffca99;
	width: 100%;
	height: 100%;
}

.contacts {
	width: 80%;
	margin: 0 auto;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
	color: #b35600;
}


/*Navigation*/
	nav {
		position: sticky;
		top: 0;
		width: 100%;
		/*background-color: #ffca99;
		background-color: #cc5f00;*/
		background-color: #ff7700;
		list-style-type: none;
		margin: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		overflow: hidden;
	}

	nav a:link, a:visited {
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		font-size: medium;
		font-weight: bold;
		font-style: normal;
		font-variant: normal;
		color: #009999;
		text-align: center;
		text-decoration: none;
		text-transform: lowercase;
		float: left;
		padding-left: 20px;
	}

	nav a:hover, a:active {
		color: #fff2e6;
	}
